.advantages {
  .list-off();
}

/* Разобраться с изменением цвета svg */
.advantages__item {
  .font(17px; 20px);
  padding-top: 80px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 0 20px;

  &_nordic {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 25px;
  }

  &_like {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 0 25px;
  }

  &_knitting {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 0 25px;
  }

  &_support {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: 0 30px;
  }

  &_gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 0 20px;
  }
}
