.advantages {
  padding-top: 35px;
  padding-bottom: 20px;
}

.advantages__title {
  margin: 0;
}

.advantages__list {
  .list-off();
}

.advantages__item {
  .font(17px; 20px);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-right: 10px;
  padding-top: 83px;
}

.advantages__text {
  margin: 0;
}

.advantages__icon {
  position: absolute;
  top: 50px;
  left: 20px;

  color: @downy;

  transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 68px;
    padding-bottom: 55px;
  }

  .advantages__title {
    margin-bottom: 20px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    .font(20px; 22px);
    width: 50%;
    padding-right: 40px;
    padding-bottom: 28px;
  }

  .advantages__item:nth-child(2),
  .advantages__item:nth-child(5) {
    order: 1;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(6) {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 82px;
    padding-bottom: 60px;
  }

  .advantages__list {
    padding-right: 175px;
  }

  .advantages__item {
    padding-right: 55px;
  }
}
