.assortment {
  .list-off();
  margin-right: @mobil-padding * -1;
  margin-left: @mobil-padding * -1;
}

.assortment__link {
  .font(19px; 24px);
  position: relative;
  display: block;
  margin-top: -5px;
  padding: 26px 160px 30px 30px;

  color: @white;

  background-clip: padding-box;
  border-top: 5px solid transparent;

  &:hover,
  &:focus {
    padding-bottom: 35px;

    border-top: none;
    outline: none;

    .assortment__icon {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(@white, 0.3);

    .assortment__icon {
      opacity: 0.3;
    }
  }

  &_bg_light {
    background-color: @downy;

    &:hover,
    &:focus {
      background-color: @viking;
    }
  }

  &_bg_dark {
    background-color: @fountain-blue;

    &:hover,
    &:focus {
      background-color: @puerto-rico;
    }
  }
}

.assortment__title {
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.assortment__icon {
  position: absolute;
  top: 50%;
  right: 55px;

  color: @blue-chill;

  transform: translate(50%, -50%);
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .assortment {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -120px;
    margin-right: 0;
    margin-left: 0;
  }

  .assortment__item {
    width: 50%;
  }

  .assortment__link {
    .font(20px; 30px);
    padding: 30px 160px 30px 35px;
  }

  .assortment__icon {
    right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .assortment {
    padding-right: 0;
    padding-left: 0;
  }
}
