.button {
  display: block;
  padding: 14px;

  .font(17px; 20px);
  color: @second-color;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid @second-color;

  &:hover {
    color: #ffffff;
    background-color: @second-color;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
