.button {
  .font(17px; 20px);
  font-weight: 700;
  color: @second-color;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 14px;
  background-color: transparent;
  border: 2px solid @second-color;

  &:hover {
    color: #ffffff;
    background-color: @second-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button_theme_decor {
  color: #ffffff;
  background-color: @decor-color;
  border-color: @decor-color;

  &:hover {
    background-color: #59d5bc;
    border-color: #59d5bc;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
