.catalog__list {
  .list-off();
  padding: 30px 0 0;
}

.catalog__item {
  margin-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    padding: 75px 0 0;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0 8px;
    margin-right: -25px;
    margin-left: -25px;
  }

  .catalog__item {
    display: flex;
    box-sizing: border-box;
    width: 100% / 3;
    padding-right: 25px;
    padding-left: 25px;
  }
}
