.checkbox {
  .font(17px; 18px);
}

.checkbox__label {
  position: relative;
  display: block;
  padding: 11px 0 12px 62px;

  &:hover {
    cursor: pointer;
  }

  &::before {
    .pseudo(36px; 35px);

    top: 0;
    left: 0;

    border: 2px solid @gray-darkest;
  }

  &::after {
    .pseudo(20px; 8px);

    top: 14px;
    left: 10px;

    display: none;

    border-left: 2px solid @gray-darkest;
    border-bottom: 2px solid @gray-darkest;
    transform: rotate(-45deg);
  }
}

.checkbox__control:checked ~ .checkbox__label::after {
  display: block;
}

.checkbox__label:hover::before,
.checkbox__control:focus ~ .checkbox__label::before {
  border-color: @downy-dark;
}

.checkbox__control:active ~ .checkbox__label::before {
  border-color: @gray-darkest;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .checkbox {
    .font(19px; 18px);
    box-sizing: border-box;
    width: 100% / 2;
    padding-right: 10px;
    padding-left: 10px;
  }

  .checkbox__label {
    padding: 17px 0 17px 80px;

    &::before {
      .size(50px; 48px);
    }

    &::after {
      .size(28px; 15px);
      top: 16px;
      left: 12px;
    }
  }
}

@media (min-width: @desktop-width) {
  .checkbox {
    width: 100% / 3;
  }
}
