.container {
  box-sizing: border-box;
  max-width: 410px;
  margin: 0 auto;
  padding-right: @mobil-padding;
  padding-left: @mobil-padding;
}

@media (min-width: @tablet-width) {
  .container {
    max-width: @desktop-width - 100px;
    padding-right: @tablet-padding;
    padding-left: @tablet-padding;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: @desktop-width;
  }
}
