.contacts {
  padding: 0 0 40px;
}

.contacts__inner {
  max-width: 410px;
  margin: 0 auto;
  padding-top: 45px;
}

.contacts__title {
  .font(18px; 30px);
  padding: 0 9.4% 25px;
}

.contacts__list {
  .list-off();
  .font(15px; 30px);

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 9.4% 10px;

  font-weight: 400;
  color: @gray-darkest;
}

.contacts__item {
  width: 25%;
  margin-right: 4%;
}

.contacts__value {
  width: 71%;
  margin: 0 0 30px;
}

.contacts__email {
  position: relative;
  color: @gray-darkest;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -4px;
    left: 0;

    height: 1px;

    background-color: @downy-dark;
  }

  &:hover,
  &:focus {
    color: @puerto-rico;

    &::after {
      background-color: @puerto-rico;
    }
  }

  &:active {
    color: rgba(@puerto-rico, 0.3);

    &::after {
      right: 25px;
      opacity: 0.1;
    }
  }
}

.contacts__map {
  position: relative;
  margin: 0 0 35px;

  background-color: @gray-lighten; //временно для сетки
}

.contacts__write {
  width: 81.2%;
  max-width: 333px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 70px 0 57px;
  }

  .contacts__title {
    .font(43px; 50px);
    padding: 16px 0;
    margin: 0 50px;

    background-image: url("../../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 0;
  }

  .contacts__list {
    .font(17px; 30px);
    margin: 32px 80px 25px 50px;
  }

  .contacts__value {
    width: auto;
  }

  .contacts__value:first-of-type {
    margin-right: 55px;
  }

  .contacts__map {
    .size(768px; 457px);
    margin-bottom: 55px;
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 457px;
    padding: 100px 525px 105px 0;
    margin: 0 50px;
  }

  .contacts__title {
    .font(53px; 57px);
    margin: auto 0 25px 0;
    padding-left: 175px;
    background-position: 63px 0;
  }

  .contacts__list {
    margin: 0 0 auto;
    padding-left: 175px;
  }

  .contacts__map {
    .size(525px; 457px);

    position: absolute;
    top: 95px;
    right: 0;
    margin-bottom: 0;
  }

  .contacts__write {
    width: 230px;
    margin: 0 0 0 175px;
  }
}
