.container {
  width: auto;
}

@media (min-width: @tablet-width) {
  .container {
    position: relative;
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1050px;
    padding: 0 50px;
  }
}
