.copyright {
  .font(19px; 18px);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  padding: 20px 0 0 0;

  text-align: center;

  border-top: 1px solid @gray-dark;
}

.copyright__link {
  display: flex;
  margin-left: 30px;

  &:hover,
  &:focus {
    outline: none;

    path {
      fill: @puerto-rico;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  flex-shrink: 0;
  margin: auto;

  & path {
    fill: @downy;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    border: none;
    margin: 0 50px 0 auto;
    padding: 5px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin: 0 0 0 auto;
  }
}
