.feedbacks {
  padding-top: 35px;
  padding-bottom: 20px;
}

.feedbacks__title {
  margin: 0 0 25px;
}

.feedbacks__list {
  .list-off();
}

.feedbacks__content {
  .font(15px; 30px);

  margin: 0 0 30px;

  font-weight: 400;
  color: @gray-darkest;
}

.feedbacks__author {
  .font(17px; 30px);
  display: block;
  margin-top: 30px;

  font-style: normal;
}

.feedbacks__author-name {
  .font(17px; 24px);

  display: block;

  font-weight: 700;
  color: @black;
}

.feedbacks__toggles {
  display: flex;
  justify-content: center;
  margin: 0 0 38px;
}

.feedbacks__toggle {
  position: relative;
  padding: 23px 43px 23px 38px;

  background-color: transparent;
  border: 1px solid @gray;

  &::before {
    .size(48px; 4px);

    content: "";
    display: block;

    background-color: @black;
  }

  &::after {
    .size(15px; 15px);

    content: "";
    position: absolute;
    top: 16px;
    left: 38px;

    border-top: 4px solid @black;
    border-left: 4px solid @black;
    transform: rotate(-45deg);
  }
}

.feedbacks__toggle_next {
  border-left: none;

  &::after {
    top: 16px;
    left: 68px;
    transform: rotate(135deg);
  }
}

.feedbacks__toggle:hover,
.feedbacks__toggle:focus {
  outline: none;

  &::before,
  &::after {
    opacity: 0.6;
  }
}

.feedbacks__toggle:active {
  &::before,
  &::after {
    opacity: 0.3;
  }
}

.feedbacks__write {
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .feedbacks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 70px;
    padding-top: 78px;
    padding-bottom: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: -50px;
      bottom: 0;
      z-index: -1;

      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
  }

  .feedbacks__title {
    box-sizing: border-box;
    width: 70%;
    margin-bottom: 48px;
  }

  .feedbacks__list {
    order: 1;
  }

  .feedbacks__content {
    .font(17px; 30px);
  }

  .feedbacks__author {
    margin-top: 55px;
  }

  .feedbacks__author-name {
    .font(18px; 24px);
    margin-bottom: 5px;
  }

  .feedbacks__toggles {
    position: absolute;
    bottom: 48px;
    right: 5px;
    margin: 0;
  }

  .feedbacks__toggle {
    padding: 23px 19px;
    border: none;

    &::after {
      left: 19px;
    }
  }

  .feedbacks__toggle_next {
    &::after {
      left: 51px;
    }
  }

  .feedbacks__write {
    min-width: 175px;
  }
}

@media (min-width: @desktop-width) {
  .feedbacks {
    margin-bottom: 60px;
    padding-top: 72px;
    padding-bottom: 70px;

    &::before {
      left: 0;
    }
  }

  .feedbacks__list {
    padding-right: 105px;
  }

  .feedbacks__author {
    margin-top: 40px;
  }

  .feedbacks__author-name {
    .font(17px; 24px);
  }

  .feedbacks__toggles {
    right: 3px;
    bottom: 105px;
  }

  .feedbacks__write {
    margin-top: 10px;
  }
}
