.field-group {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.field-group__legend {
  .font(17px; 16px);
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;
  color: @downy;

  &::after {
    content: "";

    display: block;
    flex-grow: 1;
    height: 1px;
    width: 1px;
    margin-left: 23px;

    background-color: @downy-dark;
  }
}

.field-group__list {
  .list-off();
  padding-top: 12px;
}

.field-group__item {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .field-group {
    padding-top: 50px;
    padding-bottom: 26px;
  }

  .field-group_bg {
    background-color: @gray-lighten;
  }

  .field-group__legend {
    flex-shrink: 0;
    width: 25%;
    padding: 20px 0 0;

    &::after {
      display: none;
    }
  }

  .field-group__list {
    width: 75%;
    padding-top: 0;
  }

  .field-group__list_col {
    display: flex;
    flex-wrap: wrap;
    width: calc(75% + 20px);
    margin-right: -10px;
    margin-left: -10px;
  }

  .field-group__item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .field-group__legend {
    width: 100% / 6;
    padding-left: 63px;
  }

  .field-group__list {
    width: 100% / 6 * 5;
  }

  .field-group__list_col {
    width: 792px;
  }
}
