.footer {
  background-color: @gray-lighten;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    display: flex;
    margin-left: 50px;
  }
}
