.form {
  padding: 23px 0 55px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__radio {
  padding-bottom: 10px;
}

.form__checkbox {
  padding-bottom: 15px;
}

.form__text {
  padding-bottom: 15px;
}

.form__phone {
  padding-bottom: 15px;
}

.form__email {
  padding-bottom: 20px;
}

.form__textarea {
  padding-bottom: 10px;
}

.form__info {
  .font(14px; 16px);

  margin: 0 0 30px;

  font-weight: 400;
  color: @gray-darkest;
}

.form__button {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .form {
    padding: 50px 0 50px;
  }

  .form__radio {
    padding-bottom: 43px;
  }

  .form__checkbox {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .form__text {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .form__phone {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .form__email {
    padding-bottom: 30px;
  }

  .form__textarea {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    width: 230px;
  }

  .form__info {
    .font(17px; 30px);
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding-top: 55px;
  }

  .form__checkbox {
    padding-bottom: 30px;
  }

  .form__text {
    padding-top: 48px;
    padding-bottom: 30px;
  }

  .form__phone {
    padding-top: 48px;
  }

  .form__textarea {
    padding-bottom: 45px;
  }

  .form__info {
    margin-right: 175px;
  }

  .form__button {
    margin-left: 175px;
  }
}
