.header {
  border-top: 1px solid @gray-light;
  border-bottom: 1px solid @gray-light;
}

.header__logo {
  height: 78px;
  margin: 0 auto;
}

.header__toggle {
  .size(82px; 78px);
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.header__info {
  display: none;
}

@media (min-width: @tablet-width) {
  .header {
    border-top: none;
  }

  .header__logo {
    height: 88px;
    margin: 0 auto 0 0;
  }

  .header__toggle {
    display: none;
  }

  .header__info {
    .font(15px; 24px);

    position: absolute;
    right: 30px;
    top: 100px;

    display: block;
    width: 260px;
    margin: 0;
    padding: 10px 0;

    font-weight: 400;
    text-align: right;
    color: @gray-darken;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    margin: 0 auto;
  }

  .header__info {
    right: 50px;
  }
}
