.header {
  position: relative;
  border-top: 1px solid @gray-light;
  border-bottom: 1px solid @gray-light;
}

.header__logo {
  height: 78px;
  margin: 0 auto;
}

.header__toggle {
  .size(82px; 78px);
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}
