.input {
  position: relative;
}

.input__label {
  display: block;
}

.input__control {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 0;

  .font(17px; 18px);
  font-weight: 400;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid @black;

  &:hover {
    border-color: @downy-dark;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: rgba(@gray-darkest, 0.3);
  }

  &::-moz-placeholder {
    color: rgba(@gray-darkest, 0.3);
  }

  &:-ms-input-placeholder {
    color: rgba(@gray-darkest, 0.3);
  }
}

.input:last-child .input__control {
  margin-bottom: 0;
}

.input__icon {
  position: absolute;
  bottom: 30px;
  right: 0;
}

.input__icon path {
  fill: rgba(@black, 0.2);
}

.input__control:hover ~ .input__icon path {
  fill: @downy-dark;
}

@media (min-width: @tablet-width) {
  .input {
    display: flex;
    align-items: baseline;
  }

  .input__label {
    margin-right: 25px;
  }

  .input__control {
    margin-bottom: 5px;
    .font(19px; 18px);
  }

  .input__icon {
    right: 70px;
    bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .input__control {
    margin-right: 175px;
    margin-bottom: 5px;
  }

  .input__icon {
    right: 225px;
    bottom: 40px;
  }
}
