.input {
  .font(17px; 18px);
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.input__label {
  display: block;
  padding: 21px 0 0;
}

.input__control {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-top: 8px;
  padding: 15px 0 15px;

  .font(17px; 18px);
  font-weight: 400;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid @black;

  &:hover,
  &:focus {
    border-color: @downy-dark;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: rgba(@gray-darkest, 0.3);
  }

  &::-moz-placeholder {
    color: rgba(@gray-darkest, 0.3);
  }

  &:-ms-input-placeholder {
    color: rgba(@gray-darkest, 0.3);
  }
}

.input__control[type="tel"] {
  .font(19px; 18px);
}

.input__icon {
  position: absolute;
  top: 65px;
  right: 5px;

  transform: translateX(-50%);

  path {
    fill: rgba(@black, 0.2);
  }
}

.input__control:hover ~ .input__icon {
  path {
    fill: @downy-dark;
  }
}

@media (min-width: @tablet-width) {
  .input {
    .font(19px; 18px);

  }

  .input__label {
    padding-top: 20px;
    margin-right: 25px;
  }

  .input__control {
    .font(19px; 18px);
    margin-top: 0;
    height: 52px;
    /* margin-top: 25px; */
    padding-right: 15px;
    padding-left: 15px;
  }

  .input__icon {
    top: 10px;
    right: 10px;
  }
}

@media (min-width: @desktop-width) {
  .input__control {
    margin-right: 175px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .input__icon {
    right: 167px;
  }
}
