.main__title-wrapper {
  background-color: @gray-lighten;

  &_light {
    background-color: @gray-lightest;
  }
}

.main__title {
  .font(27px; 30px);

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 77px;

  text-align: center;

  &_bg {
    padding-bottom: 120px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: 575px 373px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

.main__intro {
  .font(13px; 24px);
  margin: 20px 0 0;
  font-weight: 400;
  color: @gray-darkest;
}

@media (min-width: @tablet-width) {
  .main__title-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      z-index: 1;

      height: 33px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center top 20px;
      background-size: 768px;
    }
  }

  .main__title {
    .font(43px; 50px);

    padding-top: 40px;
    padding-bottom: 85px;

    &_bg {
      min-height: 691px;
      padding-top: 100px;
      padding-bottom: 70px;

      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center -54px;
      background-size: 1150px 746px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
      }
    }
  }

  .main__intro {
    .font(17px; 30px);
    margin: 70px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .main__title-wrapper {
    &::after {
      height: 25px;

      background-position: center top -5px;
      background-size: 1150px 50px;
    }

    &_light::after {
      background-size: 1250px 60px;
    }
  }

  .main__title {
    .font(53px; 57px);
    padding-top: 50px;
    padding-bottom: 110px;

    &_bg {
      min-height: 702px;
      padding-top: 110px;
      padding-bottom: 70px;

      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: center -44px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }
  }

  .main__intro {
    margin: 115px 0 0;
    padding: 0 175px;
  }
}
