.making {
  width: 258px;
  margin-bottom: 58px;
  padding: 0 0 30px;
  border: 1px solid @gray-light;
}

.making__title {
  .font(17px; 24px);

  margin: 0;
  padding: 22px 30px 22px 90px;

  color: @black;

  background-image: url("../../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 30px 33px;
}

.making__video {
  margin-bottom: 30px;
}

.making__description {
  .font(13px; 24px);
  margin: 0 0 45px;

  font-weight: 400;
  color: @gray-darken;
}
