.making {
  position: relative;
  margin: 0 30px 58px;
  padding: 15px 0 30px;
  border: 1px solid @gray;

  &::after {
    content: "";
    position: absolute;
    top: 245px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &:hover::after,
  &:focus::after {
    box-shadow: 0 6px 10px 0 rgba(@black; 0.1);
  }

  &:active::after {
    box-shadow: 0 3px 5px 0 rgba(@black; 0.1);
  }
}

.making__title {
  .font(17px; 24px);

  margin: 0;
  padding: 0 34px 22px 90px;

  color: @black;

  background-image: url("../../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: left 33px bottom 33px;
}

.making__inner {
  .size(260px; 150px);
  position: relative;
  margin: 0 -1px 30px;
}

.making__control {
  .size(101px; 77px);

  position: absolute;
  top: 50%;
  left: 50%;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  transform: translate(-50%, -50%);

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.making__description {
  .font(13px; 24px);
  margin: 0 0 25px;
  padding: 0 34px;

  font-weight: 400;
  color: @gray-darkest;
}

.making__order {
  margin: 0 34px;
}

@media (min-width: @tablet-width) {
  .making {
    display: flex;
    flex-direction: column;
    padding: 0 0 46px;
    margin: 0 50px 63px;
    border-top: none;

    &::after {
      top: 455px;
    }
  }

  .making__title {
    .font(20px; 24px);
    padding: 40px 42px 30px 105px;

    background-position: left 42px bottom 25px;
    border-top: 1px solid @gray;
  }

  .making__inner {
    .size(668px; 455px);
    order: -1;
    margin: 0 -1px;

    background-color: @gray-lighten; //временно для сетки
  }

  .making__description {
    .font(15px; 30px);
    padding: 0 42px;
  }

  .making__order {
    margin: 10px 42px 0;
  }
}

@media (min-width: @desktop-width) {
  .making {
    position: relative;
    min-height: 453px;
    margin: 0 50px 105px;
    padding: 0 0 0 682px;

    border-top: 1px solid @gray;

    &::after {
      top: 0;
    }
  }

  .making__title {
    .font(20px; 24px);

    padding: 96px 57px 30px 80px;
    background-position: left 80px top 45px;
    border: none;
  }

  .making__inner {
    .size(682px; 455px);

    position: absolute;
    top: -1px;
    left: -1px;
    margin: 0;

    background-color: @gray-lighten; //временно для сетки
  }

  .making__description {
    padding: 0 57px 0 80px;
  }

  .making__order {
    margin: 0 57px 59px 80px;
  }
}
