.modal-adding {
  padding: 30px 30px 47px;
  background-color: @white;
  border-top: 1px solid @gray-dark;
  border-bottom: 1px solid @gray-dark;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal-adding__title {
  .font(25px; 30px);
  text-transform: uppercase;
  margin: 0 0 10px;
}

.modal-adding__intro {
  .font(15px; 30px);
  font-weight: 400;
  color: @gray-darken;
  margin: 0 0 20px;
}

.modal-adding__control-group {
  margin: 0 0 30px;
}

.modal-adding__button {
  .font(17px; 16px);
  font-weight: 700;
  color: @gray-darken;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  min-width: 82px;
  padding: 16px;
  background-color: transparent;
  border: 2px solid @gray-light;

  &_checked {
    border-color: @downy;
  }

  &:hover {
    border-color: @gray-dark;
  }

  &:active {
    border-color: @downy;
  }
}
