.nav__item {
  display: block;
  padding: 27px 30px 27px 75px;
  color: @black;
  border: none;
  border-top: 1px solid @gray-light;

  &:hover,
  &:focus {
    color: rgba(@black, 0.6);
  }

  &:active {
    color: rgba(@black, 0.3);
  }
}
