.nav__item {
  display: block;
  padding: 27px 30px 27px 75px;
  color: @base-color;
  border: none;
  border-top: 1px solid @border-color;

  &:hover,
  &:focus {
    color: rgba(@base-color, 0.6);
  }

  &:active {
    color: rgba(@base-color, 0.3);
  }
}
