.popular {
  padding-top: 28px;
  padding-bottom: 35px;
}

.popular__inner {
  margin: 0 0 22px 0;
}

.popular__title {
  margin: 0 0 5px 0;
}

.popular__label {
  .font(17px; 20px);
  color: @downy;
  text-transform: uppercase;
  margin: 0;
}

.popular__text {
  .font(15px; 24px);
  font-weight: 400;
  color: @gray-darkest;
  margin: 0 0 15px;
}

.popular__properties {
  margin-bottom: 28px;
}

.popular__image {
  margin: 0 0 25px 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.popular__price {
  .font(17px; 24px);
  text-align: center;
  color: @gray-darkest;
  margin: 0 0 25px;
}

@media (min-width: @tablet-width) {
  .popular {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 72px;
  }

  .popular__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .popular__title {
    margin: 0;
  }

  .popular__label {
    .font(17px; 17px);

    width: 125px;

    text-align: center;
  }

  .popular__description {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    min-height: 410px;
    padding-right: 44px;
  }

  .popular__text {
    .font(17px; 30px);
    margin-bottom: auto;
  }

  .popular__properties {
    margin-bottom: auto;
  }

  .popular__image {
    position: absolute;
    top: 5px;
    right: -100%;

    width: 334px;
    height: 405px;
    margin: 0;
  }

  .popular__price {
    .font(20px; 24px);
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .popular {
    position: relative;
    min-height: 581px;
    padding-top: 125px;
    padding-bottom: 75px;
  }

  .popular__inner {
    position: relative;
    margin-bottom: 48px;
  }

  .popular__label {
    position: absolute;
    top: 15px;
    left: -155px;
  }

  .popular__description {
    position: static;
    width: 100% / 5 * 2;
    min-height: 475px;
    padding-right: 60px;
  }

  .popular__image {
    z-index: -1;
    width: 525px;
    height: 636px;
    top: 70px;
    right: 0;
  }

  .popular__price {
    margin-top: 60px;
  }
}
