.product {
  position: relative;
}

.product:hover {
  .product__description {
    box-shadow: 0 6px 10px 0 rgba(@black; 0.1);
  }
}

.product:active {
  .product__description {
    box-shadow: 0 3px 5px 0 rgba(@black; 0.1);
  }
}

.product__image {
  display: block;

  //блок для тени при фокусе с клавиатуры
  &::before {
    content: "";
    position: absolute;
    top: 195px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:focus {
    outline: none;

    &::before {
      box-shadow: 0 6px 10px 0 rgba(@black; 0.1);
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.product__description {
  position: relative;
  box-sizing: border-box;
  padding: 25px 27px 0;
  border: 1px solid @gray;
}

.product__title {
  margin: 0 0 5px;
}

.product__link {
  .font(17px; 24px);
  color: @black;

  &:hover,
  &:focus {
    color: rgba(@black, 0.6);
    outline: none;
  }

  &:active {
    color: rgba(@black, 0.3);
  }
}

.product__text {
  .font(13px; 30px);
  font-weight: 400;
  color: @gray-darkest;
  margin: 0;
  padding-bottom: 18px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid @gray;
}

.product__price {
  .font(15px; 24px);
  margin: 0;
}

.product__button {
  .size(84px; 72px);
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 10px;
  margin-right: -27px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;

    .product__icon {
      color: @downy;
    }
  }

  &:active .product__icon {
    color: rgba(@downy, 0.3);
  }
}

.product__icon {
  .size(21px; 19px);

  color: rgba(@mine-shaft, 0.2);
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    width: 100%;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(@black; 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(@black; 0.1);
    }
  }

  .product__image {
    width: 50%;

    &::before {
      top: 0;
    }
  }

  .product__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 27px 33px 0 27px;
  }

  .product:hover,
  .product:active {
    .product__description {
      box-shadow: none;
    }
  }

  .product__title {
    margin: 0;
  }

  .product__link {
    .font(20px; 24px);
  }

  .product__text {
    .font(15px; 30px);
    margin: 5px 0 auto;
  }

  .product__price {
    .font(17px; 24px);
    margin: 0;
  }

  .product__button {
    margin-right: -33px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .product {
    flex-direction: column;

    &:hover {
      box-shadow: none;

      .product__description {
        box-shadow: 0 6px 10px 0 rgba(@black; 0.1);
      }
    }

    &:active {
      box-shadow: none;

      .product__description {
        box-shadow: 0 3px 5px 0 rgba(@black; 0.1);
      }
    }
  }

  .product__image {
    width: 100%;

    &::before {
      top: 462px;
    }
  }

  .product__description {
    width: 100%;
    flex-grow: 1;
    padding: 27px 30px 0 27px;
  }

  .product__text {
    padding-bottom: 10px;
  }

  .product__button {
    margin-right: -30px;
  }
}
