.product__description {
  padding: 27px 27px 25px;
  border: 1px solid @gray-lighten;
}

.product__title {
  margin: 0 0 5px;
}

.product__link {
  .font(17px; 24px);
  color: @black;
}

.product__text {
  .font(13px; 30px);
  font-weight: 400;
  color: @gray-darken;
  margin: 0 0 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid @gray-light;
}

.product__price {
  .font(15px; 24px);
  margin: 0;
}

.product__button {
  .size(40px; 40px);
  display: block;
}
