.properties {
  .font(15px; 20px);
  font-weight: 400;
  color: @gray-darkest;
  width: 100%;
  border-collapse: collapse;
}

.properties__field {
  width: 88px;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid @gray;
}

.properties__value {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid @gray;
}
