.section {
  padding-right: 9.4%;
  padding-left: 9.4%;
}

.section__title {
  .font(25px; 30px);
}

@media (max-width: @mobile-width-only) {
  .section__title_size_s {
    .font(18px; 30px);
  }
}

@media (min-width: @tablet-width) {
  .section {
    padding-right: 6.5%;
    padding-left: 6.5%;
  }

  .section__title {
    .font(43px; 50px);
  }
}

@media (min-width: @desktop-width) {
  .section {
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 0;
    padding-left: 0;
  }

  .section__title {
    .font(53px; 57px);
    padding-left: 175px;

    &_nopadding {
      padding-left: 0;
    }
  }

  .section__content {
    padding-left: 175px;
  }
}
