.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .list-off();
  margin-bottom: 20px;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  .size(40px; 40px);
}
